.video_card_title {
    display: flex;
    align-items: center;
    margin-top: 0.4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Youtube_Img{
    border-radius: 5px;
}


.video_card_title img {
    height: 4vh;
}

.video_card_title span {
    margin: 2px 8px;
    width: 30vh;
    font-size: 1.8vh;
    color: rgb(255, 255, 255);
}

.video_card_title_2 {
    font-size: small;
    padding-left: 4.8vh;
    padding-top: 0.8vh;
    color: rgb(165, 165, 165);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(36, 36, 36);
}